/*style externo*/
:root {
    --cor-primaria: #aaaa07;
    --cor-secundaria:#d64e99;
    --cor-terciaria: #ee91da;
    --cor-quaternaria:#4f32f1;
    --cor-fundo: #c565b8;
    --margem-paragrafos: 20px;
}

html{
    scroll-behavior: smooth;
}

body{
    color:rgb(58, 10, 102);
}

.titulo-de-pagina {
    color:  var black;                                                                                               
    line-height: 1,5;
    font-weight: bold;
    font-size: 22pt;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo-de-artigo{
    color:#ee91da;
    line-height: 1,5;
    font-weight: bold;
    font-size: 18pt;
}

.titulo-de-secao {
    color: var(--cor-primaria);
    line-height: 1,5;
    font-weight: bold;
    font-size: 18pt;
    
}
.subtitulo-de-artigo {
    color: var(--cor-fundo);
    line-height: 1,5;
    font-size: 18pt;
    font-weight: bold;
    margin-top: 10px;
}
p {
 color:black;
  line-height: 1,5;

}
.paragrafo-de-artigo ~ .paragrafo-de-artigo {

text-align: center;
padding: 10px;

}
.paragrafo-de-artigo {
    background-color: #fcc1ef;
}
.paragrafo-de-artigo:first-of-type {
  border-radius: 20px 0 0 0;  
}
.paragrafo-de-artigo:last-of-type {
    border-radius: 0 0 20px 0;
}




article {
    border: 4px solid var(--cor-terciaria);
    border-radius: 4px  #9dc4d2;
    padding: 20px;
    margin:20px 0;
}

.menu-principal ul {
    background-color: #b6ccd4;
    list-style-type: georgian;
    border: 4px solid var(--cor-terciaria);
}
.menu-principal li {
    color: var(--cor-fundo);
}

.menu-principal a {
    color: var(--cor-primaria)
}
 


